* {
  box-sizing: 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  color: #2b283a;
}
section {
  margin: 25px 0;
}
.contaier {
  width: 1320px;
  margin: auto;
}
.secondary-text {
  color: #f55a5a;
}
.header {
  background-color: #f55a5a;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header p {
  color: #fff;
}
.tour {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tour--container {
  display: flex;
  align-items: center;
  grid-gap: 20px;
  padding: 20px;
  border-bottom: 1px solid #918e9b48;
}
.tour--img {
  max-width: 250px;
  height: 336px;
}
.tour--img img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}
.tour--content {
  max-width: 500px;
}
.tour--location {
  display: flex;
  align-items: center;
  grid-gap: 40px;
  font-size: 20px;
}
.tour--country {
  text-transform: uppercase;
  letter-spacing: 3px;
}
.tour--map-link {
  color: #918e9b;
  text-decoration: underline;
}
.tour--title h2 {
  font-size: 30px;
}
.tour--date {
  font-size: 20px;
  font-weight: 600;
}
.tour--description {
  font-size: 20px;
}
